<div id="current-song">
  <h4><i class="icon-music"></i>Current Song</h4>
  <div class="row">
    <table class="table">
      <tr>
        <td class="span2"><img id="album-cover" src="" height="100" width="100"></td>
        <td class="span9">
          <strong><div id="band-name"></div></strong>
          <ul class="song_info">
            <li id="song-name"></li>
            <li><a id="song-url" href="#" download><i class="icon-download"></i> Download</a></li>
            <li><a href='#' data-action="viewsong" class="btn btn-small btn-info" id="song-info">Song Info</a></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>

