<%= link_to "RasPlay", root_path, :class => 'brand' %>
<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Upload Song', '#myModal', :role => "button", :id => 'upload', :"data-toggle" => "modal" %></li>
  <li><%= link_to 'View All Songs', songs_path %></li>
</ul>
<!--
<div class="pull-right">
  <ul class="nav">
    <li>
      <span id="volume-value"></span>% <div id="volume"></div>
    </li>
  </ul>
</div>
-->
